.contact-footer {
    padding-top: var(--size000);
}

.contact-wraper {
    /* padding-top: var(--size000); */
    display: flex;
    flex-direction: column;
    row-gap: var(--size-100);
}

@media screen and (max-width: 720px) {
    .contact-footer {
        padding-top: var(--size500);
        border-top: 1px solid #c3c3c3;
    }
    .contact-wraper {
        row-gap: 0;
    }
}
