#Home {
    min-height: 100vh;
}

#Home h1 {
    font-weight: 900;
    font-size: 64px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    max-width: 850px;
}
#Home h2 {
    font-weight: 900;
    font-size: 64px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
#Home section {
    /* padding: 150px 20px; */
    /* display: block; */
    /* border-top: 3px var(--text) solid; */
}
.section-banner {
    padding: 150px 20px;
    min-height: 100vh;
}
.section-banner,
.section-intro {
    border: none;
}

.section-intro {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: var(--text);
    color: var(--bg000);
    margin-bottom: 100px;
}
.section-intro > p {
    font-weight: 900;
    font-size: 48px;
    /* font-family: "Roboto", Arial, Helvetica, sans-serif; */
    /* text-transform: uppercase; */
    max-width: 850px;
}

#Headline {
    position: sticky;
    z-index: 25;
    top: 45%;
    padding: 0 20px;
    border: none;
    height: auto;
}
#Headline h2 {
    width: 100%;

    text-align: center;
    font-size: 120px;
}

.section-skills {
    padding: 80px 0;
    /* display: flex;
    position: relative;
    flex-direction: row-reverse; */
    min-height: 100vh;
    margin-bottom: 100px;
}
.section-skills div {
    padding: 200px 40px;
    display: flex;
}
.section-skills > div:nth-child(2) {
    flex-direction: row-reverse;
}
.section-skills p {
    font-weight: 900;
    font-size: 36px;
    max-width: 45%;
}

.section-data {
    border-top: 3px var(--text) solid;
    padding: 200px 40px;
}

/* TYPEWRITER */

.typewriter {
}

.typewriter span {
    border-right: 0.15em solid var(--text); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: blink-caret 0.75s step-end infinite;
}

/* PURE CSS VERSION - not in use */
.typewriter > h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    /* white-space: nowrap; Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: 0.15em; Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: var(--text);
    }
    50% {
        border-color: transparent;
    }
}
