#Project {
    padding: 150px 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#Project h1 {
    font-size: 120px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
    /* word-break: break-word; */
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#Project h4 {
    font-size: 18px;
    margin-bottom: 100px;
}
.description p {
    margin-bottom: 100px;
}

.links-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 120px;
    margin-top: 20px;
}
.icons-box {
    display: flex;
}
.icon {
    width: 48px;
    height: 48px;
    fill: var(--text);
    border-radius: 14px;
    margin-left: 18px;
}
.icon:hover {
    fill: var(--text-hover);
}

.link-box {
    border: 2px var(--text) solid;
    padding: 8px;
    margin-right: 15px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontB);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bg000);
    transition: 0.2s ease;
}
.link-box:hover {
    color: var(--text-inverted);
    background-color: var(--text);
}

.picture-box {
    /* border: 3px var(--text) solid;*/
    /* width: 100%;
    height: 800px; */
    position: relative;
    display: block;
    margin-bottom: 40px;
}

@media screen and (max-width: 780px) {
    #Project h1 {
        font-size: 104px;
    }
}
@media screen and (max-width: 720px) {
    .links-bar {
        flex-direction: column;
    }
    .link-box-wrap {
        width: 100%;
        margin-top: 60px;
    }
    .link-box {
        margin-right: 0;
        width: 100%;
    }
}
@media screen and (max-width: 680px) {
    #Project h1 {
        font-size: 96px;
    }
}
@media screen and (max-width: 480px) {
    #Project h1 {
        font-size: 82px;
    }
}
@media screen and (max-width: 440px) {
    #Project h1 {
        font-size: 68px;
    }
}
@media screen and (max-width: 380px) {
    #Project h1 {
        font-size: 48px;
    }
}

/* ELEMENT */

/* .element {
    width: 100%;
    height: 100px;
    background-color: pink;
} */
.element {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--size700);
    /* justify-content: space-between; */
}

/*forms*/
.form-wrap {
    /* width: 50%; */
    min-width: 450px;
}
.form-wrap > form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: var(--size200);
    column-gap: var(--size000);
    margin-right: var(--size500);
    padding-left: var(--size200);
    border-left: 2px solid var(--text);
}
.grid-column-1to2 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-column-2to3 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-column-3to4 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-column-4to5 {
    grid-column-start: 4;
    grid-column-end: 5;
}
.grid-column-1to3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-column-1to5 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-column-3to5 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.element input[type="number"],
.element select,
.element textarea {
    color: var(--text);
    background-color: var(--bg000);
    border: 2px var(--text) solid;
}

.form-wrap > form input[type="number"],
.form-wrap > form select {
    width: 100%;
    height: 25px;
    /* margin-right: 5px; */
}

.element textarea {
    padding: 5px;
}

.submit-box {
    border: 2px var(--text) solid;
    padding: 8px;
    margin-top: var(--size000);
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontB);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bg000);
    transition: 0.2s ease;
}
.submit-box:hover {
    color: var(--text-inverted);
    background-color: var(--text);
}

.form-results {
    padding-left: var(--size200);
    /* max-width: 350px; */
    border-left: 2px solid var(--text);
}
.form-results > div:nth-child(1) {
    margin-bottom: var(--size300);
}
.form-results p {
    margin-bottom: 5px;
}

.notes-wrap {
    width: 100%;
    /* margin-top: var(--size700); */
    padding-left: var(--size200);
    border-left: 2px solid var(--text);
}

@media screen and (max-width: 800px) {
    .element {
        flex-direction: column;
        margin-top: 40px;
    }
    .form-wrap {
        min-width: 100%;
        width: 100%;
    }
    .form-wrap > form {
        margin-right: 0;
    }
    .form-results {
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .element {
        flex-direction: column;
        margin-top: 40px;
    }
    .form-wrap {
        min-width: 100%;
        width: 100%;
    }
    .form-wrap > form {
        margin-right: 0;
    }
    .form-results {
        max-width: 100%;
    }
}
