.footer-nav {
    padding-top: var(--size000);
}

.footer-nav li {
    margin-bottom: var(--size-100);
}

@media screen and (max-width: 720px) {
    .footer-nav {
        padding-top: var(--size500);
    }
    .footer-nav li {
        margin-bottom: var(--size400);
        text-align: center;
    }
}
