.color-mode-wrap {
    width: 65px;
    display: block;
    margin: auto 0;
}

.color-mode-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-mode-toggle-sun {
    height: 25px;
    width: 65px;
    background: var(--bg000);
    border-radius: 40px;
    position: relative;
    transition: var(--transition5);
}
.color-mode-toggle-moon {
    height: 25px;
    width: 65px;
    background: var(--bg000);
    border-radius: 40px;
    position: relative;
    transition: var(--transition5);
}

.color-mode-toggle-sun::before {
    content: "";
    display: block;
    height: 20px;
    width: 24px;
    border-radius: 30px;
    background: var(--color200);
    position: absolute;
    z-index: 2;
    transform: translate(29px);
    transition: var(--transition5);
    top: 2.5px;
    left: 6px;
    cursor: pointer;
}
.color-mode-toggle-moon::before {
    content: "";
    display: block;
    height: 20px;
    width: 24px;
    border-radius: 30px;
    background: var(--color200);
    position: absolute;
    z-index: 2;
    transform: translate(0);
    transition: var(--transition5);
    top: 2.5px;
    left: 6px;
    cursor: pointer;
}

/* .color-mode-toggle.sun::before {
    transform: translateX(29px);
} */

#toggleColorMode {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 65px;
    height: 25px;
    cursor: pointer;
}

.color-mode-toggle-sun .color-mode-icons,
.color-mode-toggle-moon .color-mode-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 8.5px 0 8.5px;
}

.color-mode-wrap:hover > .color-mode-toggle-sun::before,
.color-mode-wrap:hover > .color-mode-toggle-moon::before {
    background: var(--color000);
}

#Sun,
#Moon {
    z-index: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#Sun {
    background-image: url(../assets/sun.png);
    height: 20px;
    width: 20px;
}
#Moon {
    background-image: url(../assets/moon.png);
    height: 18px;
    width: 18px;
}

@media screen and (max-width: 720px) {
    .color-mode-wrap,
    .color-mode-toggle-sun .color-mode-toggle-moon,
    #toggleColorMode {
        width: 70px;
    }
    .color-mode-toggle-sun::before {
        transform: translateX(31px);
    }

    /* .color-mode-toggle .color-mode-icons {
        padding: 0 11.5px 0 10px;
    } */
}
