.header-component {
    width: 100%;
    color: var(--text);
    /* background-color: var(--bg200); */
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    position: fixed;
    top: 0;
}

.header-wrap > a:nth-child(1) {
    display: block;
    margin: 3px 35px auto 2px;
}
/* .header-wrap > a:nth-child(1) {
    position: fixed;
    top: -3px;
    left: 7px;
} 
se uso logo stile bookmark
*/

.header-wrap {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.header-right-box {
    display: flex;
    column-gap: 25px;
    height: 20px;
    width: 67%;
    justify-content: center;
    float: right;
}

@media screen and (max-width: 720px) {
    .header-component {
        padding: var(--size-300) var(--size-100);
    }
}
