.btn {
    padding: var(--size-200) var(--size100);
    width: 230px;
    border-radius: 35px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: bold;
    font-family: var(--fontB);
    border: 3px solid var(--text-color);
    letter-spacing: 1px;
    line-height: var(--size100);
}

.normal {
    background: transparent;
    color: var(--text-color);
}

.hovered {
    background: var(--text-color);
    color: var(--bg000);
}

/* questo stile va a sovrascrivere gli altri quando presente, ma gli altri rimangono attivi */
.inverted-btn {
    color: var(--bg000);
    background: transparent;

    border: 3px solid var(--bg000);
}
.inverted-btn:hover {
    color: var(--text-color);
    background: var(--bg000);
    box-shadow: 0px 0px 10px #00000054;
}

@media screen and (max-width: 720px) {
    .btn {
        width: 100%;
        margin: 5px 0;
    }
}
