#Footer,
.copyrights {
    padding: 10px 20px;
    border-top: 3px var(--text) solid;
}
#Footer {
    height: 350px;
}
#Footer > div:nth-child(1) {
}

.copyrights,
.copyrights div {
    display: flex;
    justify-content: space-between;
}

.copyrights div a {
    margin-left: 15px;
}
.copyrights div a:hover {
    color: var(--text-hover);
}

.copyrights h5 {
    margin: 0;
    line-height: 23px;
}
