#About {
    padding: 150px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    max-width: 970px;
    width: 100%;
    height: 100px;
}

.headings h1 {
    font-weight: 900;
    line-height: 1em;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 84px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: border-bottom 0.2s ease;
}

.selected {
    border-bottom: 6px var(--text) solid;
}
.not-selected {
    border-bottom: 1px var(--bg000) solid;
}
.not-selected:hover {
    color: var(--bg000);
    -webkit-text-stroke: 2px var(--text);
}

.text {
    font-size: 14pt;
    margin: 20px;
    max-width: 970px;
    /* text-align: center; */
}

.text ul {
    margin-bottom: var(--size000);
    list-style: circle;
}
.text li {
    margin-left: var(--size200);
    line-height: 1.5em;
}

@media screen and (min-width: 1200px) {
    .headings,
    .text {
        max-width: 1050px;
    }
    .headings h1 {
        font-size: 90px;
    }
}
@media screen and (max-width: 950px) {
    .headings h1 {
        font-size: 80px;
    }
}
@media screen and (max-width: 900px) {
    .headings h1 {
        font-size: 72px;
        line-height: 1.2em;
    }
}
@media screen and (max-width: 830px) {
    .headings h1 {
        font-size: 64px;
    }
}
@media screen and (max-width: 730px) {
    .headings h1 {
        font-size: 52px;
        line-height: 2em;
    }
}
@media screen and (max-width: 610px) {
    .headings h1 {
        font-size: 46px;
    }
}
@media screen and (max-width: 540px) {
    .headings h1 {
        font-size: 32px;
        line-height: 2.5em;
    }
}
@media screen and (max-width: 420px) {
    .headings h1 {
        font-size: 24px;
        line-height: 3.5em;
    }
    .text {
        margin: 0;
        text-align: justify;
    }
}
@media screen and (max-width: 305px) {
    .headings h1 {
        font-size: 18px;
        line-height: 4.5em;
    }
}
