@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900);
/* @import url(https://fonts.googleapis.com/css?family=Mandali); */
/* @import url(https://fonts.googleapis.com/css?family=Mallanna); */
/* @import url(https://fonts.googleapis.com/css?family=Prata); */
/* @import url(https://fonts.googleapis.com/css?family=Oswald); */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/***************COLOR SCHEMES***************/
.theme-light {
    --text: rgb(11, 11, 12);
    --text-hover: rgb(65, 65, 65);
    --text-inverted: white;
    --white: ghostwhite;
    --black: rgb(11, 11, 12);
    --bg000: white;

    --bg100: ghostwhite;
    --bg200: rgb(229, 229, 229);
    --bg300: rgb(212, 212, 219);
    --bg400: rgb(196, 196, 201);
    --bg500: rgb(187, 187, 187);
    --bg600: rgb(160, 160, 160);

    --color-overlay: rgba(0, 140, 255, 0.445);
    --color000: rgb(142, 202, 230);
    --color100: cornflowerblue;
    --color200: rgb(0, 140, 255);

    --text-color: rgb(0, 140, 255);

    --selection: rgba(142, 202, 230, 0.75);
    --logo: url(../components/Logo/assets/logo-black.png);
}
.theme-dark {
    --text: ghostwhite;
    --text-hover: rgb(216, 216, 216);
    --text-inverted: rgb(11, 11, 12);
    --white: ghostwhite;
    --black: rgb(11, 11, 12);
    --bg000: rgb(11, 11, 12);

    --bg100: rgb(10, 17, 40);
    --bg200: #202630;
    /* --bg200: #0d1117; */
    --bg300: rgb(4, 4, 15);
    --bg400: rgb(18, 130, 162);
    --bg500: rgb(4, 4, 15);
    --bg600: rgb(0, 140, 255);
    --color-overlay: rgba(0, 140, 255, 0.445);
    --color000: rgb(142, 202, 230);
    --color100: cornflowerblue;
    --color200: rgb(0, 140, 255);

    --text: white;
    --text-color: rgb(0, 140, 255);

    --selection: rgba(142, 202, 230, 0.75);
    --logo: url(../components/Logo/assets/logo-white.png);
} /*eliminare logo quando si fa svg*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-y: auto;
    font-family: var(--fontA);
    color: var(--text);
    background: var(--bg000);
    --fontA: "Quicksand";
    --fontB: "Roboto", Arial, Helvetica, sans-serif;
    --size-300: 0.42rem;
    --size-200: 0.56rem;
    --size-100: 0.75rem;
    --size000: 1rem;
    --size100: 1.33rem;
    --size200: 1.77rem;
    --size300: 2.37rem;
    --size400: 3.16rem;
    --size500: 4.21rem;
    --size600: 5.61rem;
    --size700: 7.48rem;
    --left-indent: 1.33rem;
    --transition: 0.2s ease;
    --transition5: 0.5s ease;
    --transition8: 0.8s ease;
    /* --padding: var(--size-300) var(--size100); */
    --padding: var(--size-300);
    --padding2: var(--size200) var(--size100);
    --padding3: var(--size300);
    --padding4: var(--size-100);
    /* scrivere var anche per font sizes e piu cose possibili */
}

section {
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fontB);
    line-height: 1em;
}

h3,
h4,
h5 {
    margin-bottom: var(--size-200);
}

h1 {
    font-size: 32px;
}

p {
    margin-bottom: var(--size000);
}

a {
    color: var(--text);
    transition: var(--transition);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--text-hover);
}
ul {
    list-style-type: none;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    transition: background var(--transition);
    /* margin-top: 58px; */
    /* overflow-x: hidden; */
}
/* .App > div:nth-child(2) { */
/*Importante che App sia una classe, cosí id possono avere la prioritá*/
/* padding: var(--padding3);
} */

main {
    position: relative;
    transition: transform 0.5s;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--text);
    height: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-hover);
}
::-webkit-scrollbar-track {
    background: none;
    /* border-left: 3px var(--text) solid; */
}

::selection {
    /* background: rgb(196, 5, 46); */
    background: rgb(255, 171, 14);
    /* background: rgb(135, 10, 236); */
    /* background: rgb(101, 15, 172); */
    /* background: var(--color000); */
    color: var(--black);
    padding: var(--size-300);
}

/***************OVERLAY***************/
.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--color000);
    z-index: 18;
    padding: var(--size-300) var(--size100);
}
.overlayIn {
    visibility: visible;
    opacity: 33%;
    transition: visibility 0s ease-in-out 0s, opacity 1.5s;
}
.overlayOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in-out 0.5s, opacity 1s;
}

@media screen and (max-width: 900px) {
    #tablet-line-breaker::after {
        content: "\a";
        white-space: pre;
    }
}
@media screen and (max-width: 720px) {
    #line-breaker::after {
        content: "\a";
        white-space: pre;
    }
}

/* Work In Progress */
#WIP {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 100%;*/
    /* width: 100%; */
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#WIP div {
    text-align: center;
}
#WIP h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}
#WIP p {
    position: absolute;
    bottom: 50px;
}
#WIP a:hover {
    font-style: italic;
}

@media screen and (max-width: 720px) {
    #WIP div {
        width: 360px;
        text-align: start;
    }
}
@media screen and (max-width: 400px) {
    #WIP div {
        width: 100%;
    }
    #WIP h1 {
        font-size: 60px;
    }
}
@media screen and (max-width: 350px) {
    #WIP h1 {
        font-size: 53px;
    }
}
