#Library {
    padding: 63px 0px 0px 0px;
    height: calc(100vh - 46px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Library > section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/*SIDE NAV*/
.side-nav {
    width: 340px;
    overflow-y: auto;
    margin-top: -1px;
    margin-bottom: -1px;
}

.side-nav > .group {
    font-weight: 800;
    font-size: 0.9rem;
    font-family: var(--fontB);
    text-transform: uppercase;
    padding: 1rem 20px;
    background-color: var(--bg000);
}
.side-nav > .group:hover {
    background-color: var(--bg000);
    text-decoration: underline;
}

.side-nav > .el {
    padding: 1rem 20px 1rem 30px;
    font-size: 0.775rem;
    background-color: var(--bg200);
    font-weight: 600;
}
.side-nav > .el:hover {
    background-color: var(--bg300);
}

.side-nav > div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;
    letter-spacing: 0.5px;
    outline: 1px solid var(--text);
    margin-top: 1px;
    margin-bottom: 1px;
}
.side-nav > div:hover {
    background-color: var(--bg300);
}
.side-nav .selected {
    background-color: var(--bg300);
    text-decoration: underline;
}

/*RENDER AREA*/
.render-area {
    flex-grow: 1;
    outline: 1px solid var(--text);
    background-color: var(--bg000);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.render-area > div:nth-child(1) {
}
.render-area h1 {
    /* text-align: center; */
    font-weight: 900;
    line-height: 1em;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 50px;
    margin: 50px 0 var(--size500) 0;
}

.headings-wrap {
    max-width: 1350px;
}

.render-area h2 {
    margin-bottom: var(--size400);
    font-size: 1.75em;
    width: 100%;
}

.component-wrap {
    max-width: 1350px;
    width: 100%;
    padding-bottom: var(--size700);
    margin-bottom: var(--size700);
    border-bottom: 2px solid var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-wrap > .box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.component-wrap > .box > .props {
    padding-left: var(--size200);
    border-left: 2px solid var(--text);
    width: 450px;
}
.component-wrap > .box > .props > pre {
    max-width: 380px;
    font-size: 0.85rem;
    margin-top: 1rem;
}
.component-wrap > .box > .separator {
    width: 2px;
    height: 100%;
    background: var(--text);
}

.component-wrap > .box > .component:nth-child(2) {
    /* width: 100%;
    max-width: 500px; */
    padding-left: var(--size200);
    border-left: 2px solid var(--text);
    width: 450px;
}

.args-wrap pre {
    width: 650px;
}

.description-wrap {
    max-width: 1350px;
    width: 100%;
    padding-bottom: var(--size700);
    margin-bottom: var(--size700);
    border-bottom: 2px solid var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-wrap > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.description {
    width: auto;
    /* margin-bottom: 100px; */
    max-width: 920px;
}
.thumbnail-wrap {
    border: 3px var(--text) solid;
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: var(--size500);
}

.stack {
    /* margin-bottom: 75px; */
    display: flex;
}
.stack > p {
    margin-bottom: 0;
}
.stack > p:nth-child(1) {
    margin-right: 30px;
    font-weight: 700;
}

.documentation-wrap {
    max-width: 1350px;
    width: 100%;
    padding-bottom: var(--size700);
}

.info-wrap {
    width: 650px;
}
.info-wrap ul {
    list-style-type: square;
    margin-bottom: 3rem;
    margin-left: 2rem;
}
.info-wrap ul li {
    margin-bottom: 0.5rem;
}
.info-wrap ul:nth-child(2) {
}

.category-wrap {
    width: 650px;
    margin-bottom: 3rem;
}
.category-wrap p {
    margin-bottom: 0;
}
