#Portfolio {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Portfolio h1 {
    font-size: 120px;
    font-weight: 900;
    margin: 20px 0 140px;
    text-transform: uppercase;
    padding: 20px;
}

#Portfolio section {
    /* margin: 40px 0; */
    border-top: 3px var(--text) solid;
    width: 100%;
    padding: 160px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Portfolio section h2 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 120px;
    text-align: center;
}
#Portfolio section div {
    padding-left: 20px;
    /* max-width: 66%; */
    width: 100%;
    max-width: 640px;
    margin-bottom: 80px;
    border-left: 3px var(--text) solid;
    /* border-bottom: 3px var(--text) solid; */
}

#Portfolio section div h3 {
    font-size: 24px;
    font-weight: 900;
}
#Portfolio section > div > p:last-child {
    margin-bottom: 0;
}
#Portfolio h4,
#Portfolio p {
    line-height: 1.5em;
}
#Portfolio p {
    letter-spacing: 0.5px;
    text-align: justify;
    font-size: 0.9rem;
}
#Portfolio .list {
    margin-bottom: var(--size000);
    /* padding-left: 10px; */
    padding-left: 0;
    border-left: none;
}
#Portfolio .list-el {
    margin-left: 17px;
    margin-bottom: 0;
}

#Portfolio .list-el::before {
    content: "•";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -17px;
    margin-right: 10px;
}

.experience {
}

.skills h3 {
    margin-bottom: 30px;
}

.skills p::before {
    content: "•";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -17px;
    margin-right: 10px;
}
#Portfolio .skills p {
    /* padding-left: 25px; */
    margin-left: 17px;
    text-align: left;
}

.link-box {
    margin-top: 20px;
    border: 2px var(--text) solid;
    padding: 8px;
    margin-right: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontB);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bg000);
    transition: 0.2s ease;
}
.link-box:hover {
    color: var(--text-inverted);
    background-color: var(--text);
}

@media screen and (min-width: 1100px) {
    /* #Portfolio section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Portfolio section div {
        width: 100%;
        max-width: 700px;
    } */
    #Portfolio p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 720px) {
    #Portfolio h1 {
        font-size: 100px;
    }
    #Portfolio section div {
        max-width: 100%;
    }
}
@media screen and (max-width: 590px) {
    #Portfolio h1 {
        font-size: 80px;
    }
    .links-wrap {
        padding: 40px;
    }
    .link-box {
        margin-top: 40px;
    }
}
@media screen and (max-width: 470px) {
    #Portfolio h1 {
        font-size: 60px;
    }
}
@media screen and (max-width: 360px) {
    #Portfolio h1 {
        font-size: 48px;
    }
}
