#Projects {
    padding: 150px 0px 0px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADINGS */
.headings {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 30px 0;
    max-width: 1090px;
    width: 100%;
    height: 100px;
    padding: 0px 60px;
}

.headings h1 {
    font-weight: 900;
    line-height: 1em;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 90px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: border-bottom 0.2s ease;
}

.selected {
    border-bottom: 6px var(--text) solid;
}
.not-selected {
    border-bottom: 1px var(--bg000) solid;
}
.not-selected:hover {
    color: var(--bg000);
    -webkit-text-stroke: 2px var(--text);
}

/* PROJECTS */
.projects {
    width: 100%;
    margin-top: 140px;
}
.projects > div {
    width: 100%;
    border-top: 3px var(--text) solid;
    padding: 100px 60px;
    display: flex;
    justify-content: center;
}
.project-box {
    min-height: 350px;
    max-width: 1000px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.project-box > div:nth-child(1) {
    max-width: 66.6%;
    position: relative;
}

.project-box > div:nth-child(1) h2 {
    font-weight: 900;
    font-size: 32px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 2.25rem;
}
.project-box > div:nth-child(1) h4 {
    margin-bottom: 50px;
    line-height: 1.5rem;
}
.project-box > div:nth-child(1) p {
    margin-bottom: 35px;
    /* min-height: 120px; */
    letter-spacing: 0.5px;
    text-align: justify;
}

.links-box {
    max-width: 200px;
}
.link-box {
    margin-top: 20px;
    border: 2px var(--text) solid;
    padding: 8px;
    margin-right: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontB);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bg000);
    transition: 0.2s ease;
}
.link-box:hover {
    color: var(--text-inverted);
    background-color: var(--text);
}

#Recommended {
    position: absolute;
    top: -50px;
    background: red;
    color: white;
    animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite;
    width: 200px;
}
#Recommended p {
    font-weight: 800;
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0;
    text-align: center;
}
@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.picture-box {
    border: 3px var(--text) solid;
    background: white;
    width: 150px;
    height: 150px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    /* .headings h1 {
        font-size: 90px;
    } */
}
@media screen and (max-width: 950px) {
    .headings h1 {
        font-size: 80px;
    }
}
@media screen and (max-width: 830px) {
    .headings h1 {
        font-size: 72px;
        line-height: 1.2em;
    }
}
/* @media screen and (max-width: 830px) {
    .headings h1 {
        font-size: 64px;
    }
} */
@media screen and (max-width: 730px) {
    .headings h1 {
        font-size: 52px;
        line-height: 2em;
    }
    .project-box > div:nth-child(1) {
        padding-right: 20px;
    }
}
@media screen and (max-width: 610px) {
    .headings h1 {
        font-size: 46px;
    }
}
@media screen and (max-width: 540px) {
    .headings h1 {
        font-size: 32px;
        line-height: 2.5em;
    }
    .project-box {
        flex-direction: column-reverse;
        width: 260px;
    }
    .project-box > div:nth-child(1) {
        padding-right: 0px;
        max-width: 100%;
    }
    .picture-box {
        margin-bottom: 60px;
        width: 100%;
        height: 260px;
    }
    #Recommended {
        /* position: relative; */
        width: 100%;
        top: -44px;
    }
    #Recommended > p {
        padding: 0.5rem 1rem;
    }
}
@media screen and (max-width: 410px) {
    .headings h1 {
        font-size: 24px;
        line-height: 3.5em;
    }
    .project-box > div:nth-child(1) h2 {
        font-size: 24px;
    }
    .project-box {
        width: 100%;
    }
    .picture-box {
        height: 230px;
    }
    .links-box {
        max-width: 100%;
    }
}
@media screen and (max-width: 340px) {
    .picture-box {
        height: 200px;
    }
}
@media screen and (max-width: 305px) {
    .headings h1 {
        font-size: 18px;
        line-height: 4.5em;
    }
    .project-box > div:nth-child(1) h2 {
        font-size: 20px;
    }
    .project-box {
        width: 100%;
    }
    .picture-box {
        height: 180px;
    }
    #Recommended > p {
        padding: 0.5rem 0.5rem;
        font-size: 0.7rem;
    }
}
